workflow.json
{
  "name": "🤖 Lead Qualifier Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-qualifier",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Lead Creado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "69e50d8d-3a67-46ab-a410-0639bc9ecd86"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "record_id", "value": "={{ $json.body.record.id }}" },
            { "name": "full_name", "value": "={{ $json.body.record.full_name }}" },
            { "name": "email", "value": "={{ $json.body.record.email }}" },
            { "name": "phone", "value": "={{ $json.body.record.phone }}" },
            { "name": "company", "value": "={{ $json.body.record.company }}" },
            { "name": "source", "value": "={{ $json.body.record.source }}" },
            { "name": "status", "value": "={{ $json.body.record.status }}" },
            { "name": "notes", "value": "={{ $json.body.record.notes }}" }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Preparar datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\": [{\"parts\": [{\"text\": \"Eres un experto en ventas B2B. Analiza este lead y responde SOLO con JSON válido, sin markdown, sin explicaciones.\\n\\nDatos del lead:\\n- Nombre: {{ $json.full_name }}\\n- Email: {{ $json.email }}\\n- Teléfono: {{ $json.phone }}\\n- Empresa: {{ $json.company }}\\n- Fuente: {{ $json.source }}\\n- Estado actual: {{ $json.status }}\\n- Notas: {{ $json.notes }}\\n\\nResponde exactamente con este formato JSON:\\n{\\n  \\\"score\\\": <número del 1 al 100>,\\n  \\\"category\\\": \\\"<Hot|Warm|Cold>\\\",\\n  \\\"summary\\\": \\\"<resumen ejecutivo en español de máximo 2 oraciones>\\\",\\n  \\\"next_step\\\": \\\"<acción concreta recomendada en español de máximo 1 oración>\\\"\\n}\\n\\nCriterios de scoring:\\n- Hot (70-100): empresa real, email corporativo, fuente directa, notas con intención clara\\n- Warm (40-69): datos parciales, fuente indirecta, intención no clara\\n- Cold (1-39): datos mínimos, email genérico, sin empresa, sin contexto\"}]}],\"generationConfig\": {\"temperature\": 0.3,\"maxOutputTokens\": 2000}}"
      },
      "id": "3",
      "name": "Analizar con Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates[0].content.parts[0].text;\n\n// Limpiar el texto por si Gemini agrega markdown\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback si el JSON falla\n  parsed = {\n    score: 50,\n    category: 'Warm',\n    summary: 'Análisis no disponible temporalmente.',\n    next_step: 'Contactar al lead para obtener más información.'\n  };\n}\n\nreturn [{\n  json: {\n    lead_id: $('Preparar datos').first().json.record_id,\n    ai_score: parsed.score,\n    ai_category: parsed.category,\n    ai_summary: parsed.summary,\n    ai_next_step: parsed.next_step,\n    ai_analyzed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "4",
      "name": "Parsear JSON de IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://kgrfhfwtcanthrymmvkb.supabase.co/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ai_score: $json.ai_score, ai_category: $json.ai_category, ai_summary: $json.ai_summary, ai_next_step: $json.ai_next_step, ai_analyzed_at: $json.ai_analyzed_at } }}"
      },
      "id": "5",
      "name": "Guardar en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"score\": {{ $('Parsear JSON de IA').first().json.ai_score }} }",
        "options": {}
      },
      "id": "6",
      "name": "Confirmar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Lead Creado": {
      "main": [
        [
          { "node": "Preparar datos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          { "node": "Analizar con Gemini", "type": "main", "index": 0 }
        ]
      ]
    },
    "Analizar con Gemini": {
      "main": [
        [
          { "node": "Parsear JSON de IA", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parsear JSON de IA": {
      "main": [
        [
          { "node": "Guardar en Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Guardar en Supabase": {
      "main": [
        [
          { "node": "Confirmar", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {}
}
