n8n/workflows/wf_lead_qualifier.json
[
{
  "name": "Lead Qualifier",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "lead-qualifier",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "code-sanitizer",
      "name": "Sanitize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\nconst sanitize = (str) => typeof str === 'string' ? str.replace(/<[^>]*>?/gm, '').trim() : str;\nreturn {\n  json: {\n    tenant_id: sanitize(data.tenant_id),\n    name: sanitize(data.name),\n    email: sanitize(data.email),\n    phone: sanitize(data.phone),\n    company: sanitize(data.company),\n    message: sanitize(data.message),\n    source: sanitize(data.source)\n  }\n};"
      }
    },
    {
      "id": "if-validation",
      "name": "IF Valid Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 0],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email || '' }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.phone || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      }
    },
    {
      "id": "gemini-evaluator",
      "name": "Gemini Lead Evaluator",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [600, -100],
      "parameters": {
        "resource": "text",
        "operation": "generate",
        "prompt": "={{ 'Analiza este prospecto comercial y asigna un score numérico (1-100). Responde EXCLUSIVAMENTE con un objeto JSON con las claves \"score\" y \"reason\". Datos: ' + JSON.stringify($json) }}",
        "options": {
          "maxOutputTokens": 2000
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "GMKYlQO40XGYE51x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -100],
      "parameters": {
        "jsCode": "const text = $input.first().json.text || '';\nlet parsed = { score: 0, reason: '' };\ntry {\n  const sanitized = text.replace(/```json/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(sanitized);\n} catch(e) {}\nreturn { json: { ...$('Sanitize Input').first().json, ...parsed } };"
      }
    },
    {
      "id": "supabase-insert",
      "name": "Insert Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, -100],
      "parameters": {
        "resource": "databaseOperations",
        "operation": "insert",
        "table": "leads",
        "dataToSend": "defineBelow",
        "valuesToSend": {
          "values": [
            { "name": "name", "value": "={{ $json.name || 'Prospecto Web' }}" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "source", "value": "={{ $json.source || 'webhook' }}" },
            { "name": "ai_score", "value": "={{ $json.score }}" },
            { "name": "tenant_id", "value": "={{ $json.tenant_id }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "803a6buxsExdU3oj",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Input": {
      "main": [
        [
          {
            "node": "IF Valid Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Contact": {
      "main": [
        [
          {
            "node": "Gemini Lead Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Lead Evaluator": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
]
