database/workflows/n8n_lead_workflow.json
{
  "name": "Lead a Tarea Automática",
  "nodes": [
    {
      "parameters": {
        "path": "lead-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.body.source }}"
            }
          ]
        }
      },
      "id": "supabase-insert-lead",
      "name": "Insert Lead (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential-id",
          "name": "Supabase Connection"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "=Seguimiento inicial - {{ $json.name }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $now.plus({ days: 2 }).toISODate() }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "supabase-create-task",
      "name": "Create Task (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential-id",
          "name": "Supabase Connection"
        }
      }
    },
    {
      "parameters": {
        "tableId": "activities",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "type",
              "fieldValue": "tarea_creada"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $json.lead_id }}"
            }
          ]
        }
      },
      "id": "supabase-register-activity",
      "name": "Register Activity (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credential-id",
          "name": "Supabase Connection"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Insert Lead (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead (Supabase)": {
      "main": [
        [
          {
            "node": "Create Task (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task (Supabase)": {
      "main": [
        [
          {
            "node": "Register Activity (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
